# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [20]:
import pandas as pd


from pandas_datareader import data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [21]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [22]:
stocks = ["AAPL", "TSLA", "TWTR", "IBM"]# LinkedIn ("LNKD"), no longer traded

### Step 4. Read the data from google, assign to df and print it

In [23]:
# df = data.DataReader(stocks, 'google', start, end) - google not implemented for datareader using Yahoo instead

df = web.DataReader(stocks, data_source='yahoo', start= start) 
df

Attributes   Adj Close                                          Close  \
Symbols           AAPL        TSLA       TWTR         IBM        AAPL
Date
2015-01-02   24.678253   43.862000  36.560001  112.178062   27.332500
2015-01-05   23.983023   42.018002  36.380001  110.412964   26.562500
2015-01-06   23.985281   42.256001  38.759998  108.031807   26.565001
2015-01-07   24.321609   42.189999  37.279999  107.325768   26.937500
2015-01-08   25.256105   42.124001  39.090000  109.658440   27.972500
...                ...         ...        ...         ...         ...
2022-05-27  149.639999  759.630005  40.169998  139.270004  149.639999
2022-05-31  148.839996  758.260010  39.599998  138.839996  148.839996
2022-06-01  148.710007  740.369995  39.299999  139.429993  148.710007
2022-06-02  151.210007  775.000000  39.910000  140.149994  151.210007
2022-06-03  145.380005  703.549988  40.160000  141.179993  145.380005

Attributes                                           High              ...  \
Symbols           TSLA       TWTR         IBM        AAPL        TSLA  ...
Date                                                                   ...
2015-01-02   43.862000  36.560001  154.933075   27.860001   44.650002  ...
2015-01-05   42.018002  36.380001  152.495224   27.162500   43.299999  ...
2015-01-06   42.256001  38.759998  149.206497   26.857500   42.840000  ...
2015-01-07   42.189999  37.279999  148.231354   27.049999   42.956001  ...
2015-01-08   42.124001  39.090000  151.453156   28.037500   42.759998  ...
...                ...        ...         ...         ...         ...  ...
2022-05-27  759.630005  40.169998  139.270004  149.679993  759.799988  ...
2022-05-31  758.260010  39.599998  138.839996  150.660004  778.799988  ...
2022-06-01  740.369995  39.299999  139.429993  151.740005  771.979980  ...
2022-06-02  775.000000  39.910000  140.149994  151.270004  792.630005  ...
2022-06-03  703.549988  40.160000  141.179993  147.949997  743.389893  ...

Attributes        Low                    Open                         \
Symbols          TWTR         IBM        AAPL        TSLA       TWTR
Date
2015-01-02  35.540001  153.919693   27.847500   44.574001  36.230000
2015-01-05  35.639999  152.189301   27.072500   42.910000  36.259998
2015-01-06  36.040001  148.346085   26.635000   42.012001  36.270000
2015-01-07  37.060001  147.256210   26.799999   42.669998  39.099998
2015-01-08  37.090000  148.709366   27.307501   42.562000  37.419998
...               ...         ...         ...         ...        ...
2022-05-27  39.480000  137.240005  145.389999  723.250000  39.570000
2022-05-31  39.419998  136.809998  149.070007  773.840027  40.070000
2022-06-01  39.240002  138.520004  149.899994  755.159973  39.799999
2022-06-02  38.810001  136.850006  147.830002  732.469971  39.070000
2022-06-03  39.974998  139.740005  146.899994  729.674988  40.450001

Attributes                   Volume
Symbols            IBM         AAPL        TSLA        TWTR        IBM
Date
2015-01-02  154.216064  212818400.0  23822000.0  12062500.0  5779673.0
2015-01-05  154.177826  257142000.0  26842500.0  15062700.0  5104898.0
2015-01-06  152.648178  263188400.0  31309500.0  33050800.0  6429448.0
2015-01-07  150.286804  160423600.0  14842000.0  22675700.0  4918083.0
2015-01-08  149.369019  237458000.0  17212500.0  19190400.0  4431693.0
...                ...          ...         ...         ...        ...
2022-05-27  137.389999   90978500.0  29765000.0  16789900.0  4608000.0
2022-05-31  138.199997  103718400.0  33971500.0  11579000.0  7978100.0
2022-06-01  139.669998   74286600.0  25749300.0  11117200.0  3796500.0
2022-06-02  139.449997   72348100.0  31157700.0  11696000.0  3734800.0
2022-06-03  140.259995   88570289.0  37464579.0  18230780.0  4352213.0

[1869 rows x 24 columns]

In [24]:
df.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2022-05-20', '2022-05-23', '2022-05-24', '2022-05-25',
               '2022-05-26', '2022-05-27', '2022-05-31', '2022-06-01',
               '2022-06-02', '2022-06-03'],
              dtype='datetime64[ns]', name='Date', length=1869, freq=None)

### Step 5.  What is the type of structure of df ?

In [25]:
isinstance(web.get_data_yahoo(stocks), pd.DataFrame)

True

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [26]:
df.items

<bound method DataFrame.items of Attributes   Adj Close                                          Close  \
Symbols           AAPL        TSLA       TWTR         IBM        AAPL
Date
2015-01-02   24.678253   43.862000  36.560001  112.178062   27.332500
2015-01-05   23.983023   42.018002  36.380001  110.412964   26.562500
2015-01-06   23.985281   42.256001  38.759998  108.031807   26.565001
2015-01-07   24.321609   42.189999  37.279999  107.325768   26.937500
2015-01-08   25.256105   42.124001  39.090000  109.658440   27.972500
...                ...         ...        ...         ...         ...
2022-05-27  149.639999  759.630005  40.169998  139.270004  149.639999
2022-05-31  148.839996  758.260010  39.599998  138.839996  148.839996
2022-06-01  148.710007  740.369995  39.299999  139.429993  148.710007
2022-06-02  151.210007  775.000000  39.910000  140.149994  151.210007
2022-06-03  145.380005  703.549988  40.160000  141.179993  145.380005

Attributes                                           High              ...  \
Symbols           TSLA       TWTR         IBM        AAPL        TSLA  ...
Date                                                                   ...
2015-01-02   43.862000  36.560001  154.933075   27.860001   44.650002  ...
2015-01-05   42.018002  36.380001  152.495224   27.162500   43.299999  ...
2015-01-06   42.256001  38.759998  149.206497   26.857500   42.840000  ...
2015-01-07   42.189999  37.279999  148.231354   27.049999   42.956001  ...
2015-01-08   42.124001  39.090000  151.453156   28.037500   42.759998  ...
...                ...        ...         ...         ...         ...  ...
2022-05-27  759.630005  40.169998  139.270004  149.679993  759.799988  ...
2022-05-31  758.260010  39.599998  138.839996  150.660004  778.799988  ...
2022-06-01  740.369995  39.299999  139.429993  151.740005  771.979980  ...
2022-06-02  775.000000  39.910000  140.149994  151.270004  792.630005  ...
2022-06-03  703.549988  40.160000  141.179993  147.949997  743.389893  ...

Attributes        Low                    Open                         \
Symbols          TWTR         IBM        AAPL        TSLA       TWTR
Date
2015-01-02  35.540001  153.919693   27.847500   44.574001  36.230000
2015-01-05  35.639999  152.189301   27.072500   42.910000  36.259998
2015-01-06  36.040001  148.346085   26.635000   42.012001  36.270000
2015-01-07  37.060001  147.256210   26.799999   42.669998  39.099998
2015-01-08  37.090000  148.709366   27.307501   42.562000  37.419998
...               ...         ...         ...         ...        ...
2022-05-27  39.480000  137.240005  145.389999  723.250000  39.570000
2022-05-31  39.419998  136.809998  149.070007  773.840027  40.070000
2022-06-01  39.240002  138.520004  149.899994  755.159973  39.799999
2022-06-02  38.810001  136.850006  147.830002  732.469971  39.070000
2022-06-03  39.974998  139.740005  146.899994  729.674988  40.450001

Attributes                   Volume
Symbols            IBM         AAPL        TSLA        TWTR        IBM
Date
2015-01-02  154.216064  212818400.0  23822000.0  12062500.0  5779673.0
2015-01-05  154.177826  257142000.0  26842500.0  15062700.0  5104898.0
2015-01-06  152.648178  263188400.0  31309500.0  33050800.0  6429448.0
2015-01-07  150.286804  160423600.0  14842000.0  22675700.0  4918083.0
2015-01-08  149.369019  237458000.0  17212500.0  19190400.0  4431693.0
...                ...          ...         ...         ...        ...
2022-05-27  137.389999   90978500.0  29765000.0  16789900.0  4608000.0
2022-05-31  138.199997  103718400.0  33971500.0  11579000.0  7978100.0
2022-06-01  139.669998   74286600.0  25749300.0  11117200.0  3796500.0
2022-06-02  139.449997   72348100.0  31157700.0  11696000.0  3734800.0
2022-06-03  140.259995   88570289.0  37464579.0  18230780.0  4352213.0

[1869 rows x 24 columns]>

In [27]:
df['time_date'] = pd.to_datetime(df['time_date'], utc=True)

df.set_index('time_date', inplace=True)

KeyError: 'time_date'

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [28]:
vol = df["Volume"]
vol.head()

Symbols            AAPL        TSLA        TWTR        IBM
Date
2015-01-02  212818400.0  23822000.0  12062500.0  5779673.0
2015-01-05  257142000.0  26842500.0  15062700.0  5104898.0
2015-01-06  263188400.0  31309500.0  33050800.0  6429448.0
2015-01-07  160423600.0  14842000.0  22675700.0  4918083.0
2015-01-08  237458000.0  17212500.0  19190400.0  4431693.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [30]:

data_columns = ["AAPL", "TSLA", "TWTR", "IBM"]
vol['week'] = vol[data_columns].resample('W').sum()
vol['year'] = vol[data_columns].resample('A').sum()

#week = vol.loc(['week','year']).sum()
#week.head()
#vol.dtypes
#vol['week'] = pd.to_datetime(vol['week'], utc=True)

#vol.set_index('week', inplace=True)

ValueError: Wrong number of items passed 4, placement implies 1

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.